<h1>{{title}}</h1>
<!--<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>


<mat-toolbar fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" color="primary">
  <mat-toolbar-row fxFlex="50%">
    <a routerLink="/dashboard">Dashboard</a>
  </mat-toolbar-row>
  <mat-toolbar-row fxFlex="50%">
    <a routerLink="/heroes">Heroes</a>
  </mat-toolbar-row>
</mat-toolbar>
<br />
-->

<div class="menu">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <button mat-menu-item routerLink="/heroes">Heroes</button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>