<h2>Top Heroes</h2>
<!--<div class="grid">
  <a *ngFor="let hero of heroes" class="col-1-4">
    routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let hero of heroes">
    {{hero.name}}
    <div class="button">
      <button mat-button color="primary" routerLink="/detail/{{hero.id}}">More</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
-->

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="30" fxFlex.xs="40" *ngFor="let hero of heroes" class="col-1-4 top">
    {{hero.name}}
    <div class="button">
      <button mat-button color="primary" routerLink="/detail/{{hero.id}}">More</button>
    </div>
  </div>  
</div>
<br />

<app-hero-search></app-hero-search>