<h2>My Heroes</h2>
<mat-nav-list fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-between center">
   <mat-list-item fxFlex="30" fxFlexAlign="center" *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="iden">{{hero.id}}</span> {{hero.name}} 
    </a>
    <button mat-button color="primary" margin="10px" title="delete hero" (click)="delete(hero)">x</button>
  </mat-list-item>
</mat-nav-list>
 <br />
<form>
  <mat-form-field appearance="fill">
    <mat-label>Hero name:</mat-label>
      <input matInput #heroName/>
  </mat-form-field>
  <!--<label>
    <input #heroName />
  </label>
-->
  <!-- (click) passes input value to add() and then clears the input -->
  <span>
    <button mat-raised-button color="accent" (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </span>
</form>
